.body{
  font-family: 'Lato', sans-serif;
}
.header{
  width: 1200px;
  margin: 0 auto;
}
.header .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f1f5;
  text-transform:uppercase;
  font-family: 'Lato', sans-serif;
}

.header .menu li {
  float: left;
}

.header .menu li a {
  display: block;
  color: #8d9099;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  border-left: 1px solid #e0e0e0;
}

.header .menu li a:hover:not(.active) {
	webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color:white;
}

.header .menu .active {
  background-color: #e4e5eb;
}
.header .menu li a:hover:not(.active) i{ 
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.header .menu li a:hover:not(.active) i{
  top: -10px;
}

.bodySection{
  width: 1200px;
  margin: 0 auto;
  height:100%;
}
.leftSection, .rightSection {   
    float: left;
    color: white;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 75px;
    padding-bottom: 60px;
    min-height:400px;
}
.leftSection {
     width: 300px;
     background-color: #555c70;
     color:#fff;
}

.rightSection {
     width: 700px;
     background-color: #00bdbd;
     color:#fff;
}

.bodySection{
  font: normal normal 1.2em/1.6em Raleway,sans-serif;

}
.info{
  opacity: .55;
}
.name{
  text-transform: uppercase;
  font:normal normal 1.825em/1.33em Lato,sans-serif;
}
.hobbies{
  padding:5px;
  margin-top:5px;
  margin-bottom:5px;
}
.hobbies ul{
  list-style-type: none;
  margin:0px;
  padding:0px;
}
.hobbies li{
  padding:4px;
}
.copyright{
  font-size: 15px;
}
.social{
  color:#fff;
  margin-bottom:25px;
}
.social a{
  text-decoration: none;
  color:#fff;
  padding:5px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.social a:hover{
  top: -10px;
}
.infoAboutMe, .infoImage {
    float: left;
}
.infoAboutMe {
     width: 350px;
}

.infoImage {
     width: 300px;
}
.infoImage .image{
    max-width: 100%!important;
    max-height: 100%!important;
    border: 9px solid #fff;
}